@page "/Order/{orderId}"
@model WebUI.Pages.OrderDetailModel
@{
    ViewData["Title"] = "OrderDetail";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="order-container">
        <div class="order-header">
            <div class="order-status">
                <p class="order-status">@Model.Order.OrderStatus</p>
            </div>
            <div class="order-details">
                <div class="order-date-id">
                    <div class="order-date">
                        Order Date: @Model.Order.CreationDateTime
                    </div>
                    <div class="order-id">
                        <p>Order Id: @Model.Order.Id</p>
                    </div>
                </div>
                <span class="vertical-line"></span>
                <a asp-page="OrderDetail" asp-route-orderId="@Model.Order.Id"><p class="order-title">Order Details</p></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h5>Order Items</h5>
                <div class="row">
                    @foreach (var item in Model.Order.Items)
                    {
                        <div class="col-4 mb-3">
                            <a asp-page="ProductDetail" asp-route-productId="@item.ProductId"><img asp-append-version="true" class="order-item-image img-fluid" src="@item.ImageFile" alt="Order Item"></a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="order-item-details">
            <div class="order-item-price">
                <p>Total Price: $@Model.Order.TotalPrice</p>
            </div>
            <div class="buttons-container">
                @if (Model.Order.PaymentStatus == Common.Models.Payment.PaymentStatus.Failed ||
                Model.Order.PaymentStatus == Common.Models.Payment.PaymentStatus.Expired)
                {
                    <form asp-page-handler="UpdatePayment" method="post" name="updatePayment">
                        <button type="submit" name="handler" value="UpdatePayment" class="btn btn-primary">Update Payment</button>
                    </form>
                    <form asp-page-handler="Cancel" method="post" name="cancel">
                        <button type="submit" name="handler" value="CancelOrder" class="btn btn-danger">Cancel Order</button>
                    </form>
                }
                @if (Model.Order.DeliveryStatus == Common.Models.Shipment.DeliveryStatus.Shipped)
                {
                    <form asp-page-handler="ConfirmCollection" method="post" name="confirmCollection">
                        <button type="submit" name="handler" value="ConfirmOrderCollection" class="btn btn-success">Confirm Order Collection</button>
                    </form>
                }
            </div>
        </div>
    </div>
</body>
</html>